


body {
    background-color: rgb(78, 78, 78);
}
.lang-selection{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    top: 0px;
}

h1 {
    color: #f5deb2;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.labelsel {
    color: purple;
    font-weight: bold;
}

#lang-select {
    background-color: purple;
    color: wheat;
    border: none;
    font-weight: bold;
    cursor: pointer;
}