main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Input-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.input-label{
  color: wheat;
  font-weight: bold;
  font-size: large;
}
.inVal{
  height: 30px;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  border: none;
 outline: none;
  color: purple;
  background-color: wheat;
  font-weight: bold;
}
.pushBtn{
  width: 10%;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: purple;
  background-color: wheat;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}
.pushBtn:hover{
  background-color: purple;
  color: wheat;
}
.pushBtn:active{
  opacity: 50%;
}
.displayData{
  display: flex;
  justify-content: center;
}
.Output-section{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items:baseline;
}
.outputs{
  color: purple;
  font-weight: bold;
  font-size: large;
  background-color: rgba(245, 222, 179,80%);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 3px;
}
.lablesOut{
  color: wheat;
  font-weight: bold;
  font-size: large;
}
